#cím {
    margin-top: 20pt;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
body {
    background-color: lightyellow;
}
.termek{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.össz {
    padding: -5px;
    font-size: 15pt;
}
.responsive {
    width: 50%;
    height: auto;
}
#space {
    text-indent: -25px;
    padding-bottom: 10pt;
    margin-bottom: auto;
}
#bh1 {
    text-indent: -20px;
}
#bh2 {
    text-indent: -25px;
}
#asd {
    text-indent: 230px;
    font-size: 15pt;
    color: brown;
}
#alcim {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 25pt;
    padding-bottom: 25pt;
    text-decoration: underline;
    color: brown;
}
